<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <form v-on:submit.prevent="addNewTodo">
            <input
                v-on:keyup.enter="submit"
                v-model="newTodoText"
                type="search"
                id="keyword"
                name="keyword"
            />
            <button>Add</button>
       </form>
    
      <div style="margin-left: 30px">
        <div
          v-for="(user, index) in users"
          :key="index"
          style="margin-bottom: 20px"
        >
          <ul style="margin-top: 0; margin-bottom: 0">
            <li>
              {{ user.name }} <button>Edit</button>
              <button @click.stop.prevent="deleteUser(user)">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          users: [
            {
              name: "Muhammad Iqbal Mubarok",
            },
            {
              name: "Rubi Purwanti",
            },
            {
              name: "Fagih Muhammad",
            },
          ],
          newTodoText: "",
        },
        methods: {
          submit: function (event) {
            let newName = event.target.value.trim();

            let newText = {
              name: newName,
            };
            this.users.push(newText);
            event.target.value = "";
          },
          deleteUser: function (user) {
            var yakin = confirm("Anda Yakin??");

            if (yakin) {
              this.users.splice(this.users.indexOf(user), 1);
            } else {
              window.location = "http://127.0.0.1:5500/index.html";
            }
          },
          addNewTodo: function () {
            this.users.push({
              name: this.newTodoText,
            });
            this.newTodoText = "";
          },
        },
      });
    </script>
  </body>
</html>
